@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin accountMessage {
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    padding: .7rem 1rem;
    margin: 0 5rem;
    width: 70%;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}