//COLORS
$color-primary: #958af5;

$color-primary-light: #9bc2f5;
$color-primary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: white;
$color-black: black;

$color-msg-error: rgb(231, 160, 133);
$color-msg-status: rgb(133, 192, 231);


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;