.footer {
    // border: 4px solid pink;

    grid-row: 3 / 4;
    grid-column: 2 / 3;
    box-sizing: border-box;

    background: rgba($color-grey-dark-3, .8);
    color: $color-grey-light-2;

    display: flex;
    justify-content: center;

    & * {
        align-self: center;
    }
}