.btn {
    &,
    &:link,
    &:visited {
        font-size: 2rem;
        font-weight: 700;
        width:10rem;
        height: 3rem;
        border-radius: 20px;
        border: none;
        padding: 0 1rem;
        background-color: $color-primary-light;
        transition: all .1s;
    }
    
    &:hover {
        background-color: $color-primary;
        color: $color-grey-light-2;
        cursor: pointer;
        transform: translateX(-1px) translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .3);
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateX(1px) translateY(2px);
        box-shadow: 0 .3rem 0.7rem rgba($color-black, .4);
    }

    &:first-of-type {
        margin-right: 4rem;
    }
}