.input-acc {
    box-sizing: border-box;
    display: block;
    width: 60%;
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
    border-radius: 3px;
    outline: none;
    padding-bottom: 6px;

    &:valid {
        border: 1.5px solid lightgreen;
    }

    &:invalid {
        border: 1.5px solid red;
    }
    
    &:focus {
        border: 1.5px solid blue;
    }

}