*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;   //  1rem = 10px;  10px/16px = 62.5%
}

body {
    background: url('../img/main-bg.png') no-repeat fixed;
    background-size: 100% 100%;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: minmax(10rem, 10vh) 5vh calc(100vh - 28vh) 5vh minmax(8rem, 8vh);
    grid-template-columns: 12vw 1fr 12vw;

    // border: 3px solid yellow;
    // box-sizing: border-box;
}