.hidden {
    display: none;
    // background-color: yellow;
}

.error {
    background-color: $color-msg-error;
    @include accountMessage;
}

.status {
    background-color: $color-msg-status;
    @include accountMessage;
}
