.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    background: url('../img/sect-bg.jpg') no-repeat fixed;
    background-size: 100% 100%;

    display: grid;
    grid-template-rows: 5vh 1fr 5vh;
    grid-template-columns: 1fr;
    // grid-row-gap: 2rem; 
    // grid-column-gap: 2rem;

    &__search {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        box-sizing: border-box;
        background: rgba($color-grey-dark-3, .9);
        color: $color-grey-light-2;
        display: flex;
        justify-content: center;
        
        & * {
            margin-left: 5rem;
            align-self: center;
            font-size: 1.7rem;
        }
        
        &-bar {
            width: 15vw;
        }
        
        &-btn {
            cursor: pointer;
        }

        &-selector {

        }
    }

    &__movies {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
              
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
                
        &-movie {
            border: 1px solid rgb(112, 107, 107);
            border-radius: 10px; 
            color: $color-grey-light-2;
            font-size: 1rem;
            box-shadow: 8px 12px 20px 0px black;
            overflow: hidden;
            transition: .2s ease;
            width: 200px;
            height: 295px;
            // opacity: 1;
            position: relative;
            margin: 2rem 3rem;
            
            &:hover {
                cursor: pointer;
                transform: translateX(3px) translateY(4px);
                box-shadow: 4px 6px 20px 0px black;
                opacity: .85;
                
                .content__movies-movie--rating,
                .content__movies-movie--title,
                .content__movies-movie--details {
                    color: white;
                    opacity: 1;
                    transition: .3s ease;
                    z-index: 10;
                }
            }
            
            &--img {
                width: 100%;
                height: auto;
            }

            &--link {
                &:link,
                &:visited {
                    text-decoration: none;
                    color: white;
                }

                &:hover,
                &:active {
                }  
            }

            &--rating {
                background-color: rgba(93, 154, 224, .9);
                display: flex;
                height: 4.2rem;
                opacity: 0;
                transition: .3s ease;
                position: absolute;
                top: 0;
                width: 100%;
                justify-content: center;
                
                .star {
                    color: yellow;
                    font-size: 3rem;
                    padding-top: .7rem;
                }

                .ratings {
                    padding-top: .25rem;

                    & > span:first-of-type {
                        font-size: 2rem; 
                        font-weight: 900;
                        padding-left: 1rem;
                    }

                    & > span:last-of-type {
                        font-size: .9rem;
                        font-weight: 600;
                        color: rgb(212, 212, 212);
                    }
                }

                .voters {
                    font-size: .9em;
                    font-weight: 600;
                    margin-top: -1.3rem;
                    margin-left: 1.1rem;
                    color: rgb(212, 212, 212);                    
                }
            }

            &--title {
                background-color:  rgba(93, 154, 224, .9);
                width: auto;
                text-align: justify;
                padding: 0 .5rem;
                margin-top: 10rem;
                opacity: 0;
                transition: .3s ease;
                font-size: 1.6rem;
                font-weight: 500;
                text-align: center;
                position: absolute;
                top: 15%;
                width: 100%;
            }

            &--details {              
                align-content: center;
                background-color: rgba(93, 154, 224, .9);
                font-size: 1rem;
                font-weight: 400;
                position: absolute;
                bottom: 0;
                width: 100%;
                opacity: 0;
                transition: .3s ease;

                & > p {
                    text-align : center;
                    line-height: 150%;

                    & > span:not(:last-of-type)::after {
                        content: ' | ';
                    }
                }
            }
        }
    }

    &__pagination {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        box-sizing: border-box;
        background: rgba($color-grey-dark-3, .9);
        color: $color-grey-light-2;
    
        display: flex;
        justify-content: center;
    
        & div {
            align-self: center;
        }
    }
}

